{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <div class="row pt-3 pb-4 mb-4 border-bottom">
                    <div class="col-md-3 text-center">
                            <a href="{{ url_for('index') }}" class="text-decoration-none text-dark"><h4><i class="text-primary" data-feather="check-circle"></i> Server Setup</h4></a>
                    </div>
                    <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                    <div class="col-md-4 text-center">
                        <a href="{{ url_for('cron') }}" class="text-decoration-none text-dark"><h4><i class="text-primary" data-feather="check-circle"></i> Shutdown Times</h4></a>
                    </div>
                    <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                    <div class="col-md-3 text-center">
                        <a href="{{ url_for('updates') }}" class="text-decoration-none text-dark"><h4><i class="text-primary" data-feather="check-circle"></i> Update Time</h4></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Done!</h3>
                        <p>This window can be closed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}