{% extends 'layout.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 text-center ps-5 pe-5 pt-4">
            <div class="row">
                <div class="col-4">
                    <h4><i class="text-success" data-feather="check-circle"></i> Session Manager Configuration</h4>
                </div>
                 <div class="col-4">
                    <h4><i class="text-success" data-feather="check-circle"></i> Shutdown Times</h4>
                </div>
                 <div class="col-4">
                    <h4><i class="text-success" data-feather="check-circle"></i> System Updates</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="card m-5 shadow">
                <div class="card-body">
                    <div class="form">
                        <form action="{{ url_for('homepage') }}" method="post">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="row">
                                        <div class="col-1 text-end">
                                            <img alt="Firefox Logo" src="{{ url_for('static', filename='brand/firefox/Fx-Browser-icon-fullColor.svg') }}" class="w-100">
                                        </div>
                                        <div class="col-11 text-start">
                                            <h3>Firefox Home Page</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label for="homepage" class="form-label"><b>Home Page URL</b></label>
                                    <p>This is an optional field. If you'd like to set the default home page for Firefox provide the URL.</p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">http://</span>
                                        <input type="text" name="homepage" id="homepage" placeholder="www.tfpl.org" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3 pt-4">
                                <div class="col-sm-12 text-end">
                                    <input type="submit" class="btn btn-lg btn-dark" value="Next">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}