{% extends 'layout.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div class="form">
                        <form action="{{ url_for('settings') }}" method="post">
                            <div class="row pt-3 pb-4 mb-4 border-bottom">
                                <div class="col-md-3 text-center">
                                    <h4><i class="text-secondary" data-feather="circle"></i> Server Setup</h4>
                                </div>
                                <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                                <div class="col-md-4 text-center">
                                    <h4><i class="text-secondary" data-feather="circle"></i> Shutdown Times</h4>
                                </div>
                                <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                                <div class="col-md-3 text-center">
                                    <h4><i class="text-secondary" data-feather="circle"></i> Update Time</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="row">
                                        <div class="col-1 text-end">
                                            <img alt="" src="{{ url_for('static', filename='server.svg') }}" class="w-100">
                                        </div>
                                        <div class="col-11 text-start">
                                            <h3>Session Manager Configuration</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="hostname"><b>System Name</b></label>
                                    <p>The system name can be anything however using a naming convention that best describes the system and it's location can help staff identify systems and locations.<br><br><b>Example:</b><br><i>&lsaquo;zone&rsaquo; - &lsaquo;system type&rsaquo; - &lsaquo;system id&rsaquo;</i><br>results in a system name of <i>Adult-Desktop-01</i></p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input class="form-control" type="text" id="hostname" name="hostname" {% if context.hostname %}value="{{ context.hostname }}" {% endif %} placeholder="Example: Adult-Desktop-01" required>
                                </div>
                            </div>
                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="server_ip"><b>Session Server IP Address</b></label>
                                    <p>This may also be a qualified domain name.</p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input class="form-control" type="text" id="server_ip" name="server_ip" {% if context.session_server_ip %}value="{{ context.session_server_ip }}" {% endif %} placeholder="Example: 192.168.0.10" required>
                                </div>
                            </div>
                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="prefixes"><b>Patron Barcode Prefixes</b></label>
                                    <p>
                                        Prefixes need to be the first 5 digits of the patrons barcode. Multiple prefixes are allowed with comma separation.<p><i>Example:</i> 12345, 23456, 34567</p>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input class="form-control" type="text" id="prefixes" name="prefixes" {% if context.prefixes %}value="{{ context.prefixes }}" {% endif %} placeholder="Example: 12345, 23456, 34567" required>
                                </div>
                            </div>
                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="express_prefix"><b>Express Pass Prefix</b></label>
                                    <p>The default value is 90000. If this is adjusted the Session Server will need to be adjusted as well.</p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input class="form-control" type="text" id="express_prefix" name="express_prefix" {% if context.express_prefix %}value="{{ context.express_prefix }}" {% else %} value="90000" {% endif %} placeholder="Example: 90000" required maxlength="5">
                                </div>
                            </div>
                            <div class="row pb-3 pt-4">
                                <div class="col-sm-12 text-end">
                                    <input type="submit" class="btn btn-lg btn-dark" value="Next">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}