<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <!-- jQuery3 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- Feather JS -->
        <script src="{{ url_for('static', filename='brand/feather/feather.js') }}" ></script>

        <title>TFPL Session Manager Client Setup</title>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-12 text-center">
                    <h1><img alt="Session Manager Logo" style="width:55px;" src="{{ url_for('static', filename='brand/session-manager/session-manager.png') }}"> Session Manager Client Setup</h1>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div style="height:500px;">
            &nbsp;
        </div>
    </body>
    <script>
        feather.replace()
    </script>
</html>