{% extends 'layout.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div class="form">
                        <form action="{{ url_for('updates') }}" method="post">
                            <div class="row pt-3 pb-4 mb-4 border-bottom">
                                <div class="col-md-3 text-center">
                                        <a href="{{ url_for('index') }}" class="text-decoration-none text-dark"><h4><i class="text-primary" data-feather="check-circle"></i> Server Setup</h4></a>
                                </div>
                                <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                                <div class="col-md-4 text-center">
                                    <a href="{{ url_for('cron') }}" class="text-decoration-none text-dark"><h4><i class="text-primary" data-feather="check-circle"></i> Shutdown Times</h4></a>
                                </div>
                                <div class="col-md-1 text-center align-middle"><h4><i class="text-secondary" data-feather="chevrons-right"></i></h4></div>
                                <div class="col-md-3 text-center">
                                    <h4><i class="text-secondary" data-feather="circle"></i> Update Time</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="row">
                                        <div class="col-1 text-end">
                                            <img src="{{ url_for('static', filename='update.svg') }}" class="w-100">
                                        </div>
                                        <div class="col-11 text-start">
                                            <h3>System Updates</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="day_of_week">
                                        <b>Day of the week</b>
                                        <p>Which day should updates occur?</p>
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <select class="form-control" id="day_of_week" name="day_of_week" required>
                                        <option value="">--</option>
                                        <option value="sunday" {% if context.update_day_of_week == "sunday" %} selected {% endif %}>Sunday</option>
                                        <option value="monday" {% if context.update_day_of_week == "monday" %} selected {% endif %}>Monday</option>
                                        <option value="tuesday" {% if context.update_day_of_week == "tuesday" %} selected {% endif %}>Tuesday</option>
                                        <option value="wednesday" {% if context.update_day_of_week == "wednesday" %} selected {% endif %}>Wednesday</option>
                                        <option value="thursday" {% if context.update_day_of_week == "thursday" %} selected {% endif %}>Thursday</option>
                                        <option value="friday" {% if context.update_day_of_week == "friday" %} selected {% endif %}>Friday</option>
                                        <option value="saturday" {% if context.update_day_of_week == "saturday" %} selected {% endif %}>Saturday</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row pb-3 pt-3 border-bottom">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label" for="hour">
                                        <b>Time</b>
                                        <p>Update time will need to be after system startup time.</p>
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" for="hour">Hour</label>
                                            <select class="form-control" id="hour" name="hour" required>
                                                <option value="">--</option>
                                                <option value="01" {% if context.update_hour == "01" %} selected {% endif %}>1</option>
                                                <option value="02" {% if context.update_hour == "02" %} selected {% endif %}>2</option>
                                                <option value="03" {% if context.update_hour == "03" %} selected {% endif %}>3</option>
                                                <option value="04" {% if context.update_hour == "04" %} selected {% endif %}>4</option>
                                                <option value="05" {% if context.update_hour == "05" %} selected {% endif %}>5</option>
                                                <option value="06" {% if context.update_hour == "06" %} selected {% endif %}>6</option>
                                                <option value="07" {% if context.update_hour == "07" %} selected {% endif %}>7</option>
                                                <option value="08" {% if context.update_hour == "08" %} selected {% endif %}>8</option>
                                                <option value="09" {% if context.update_hour == "09" %} selected {% endif %}>9</option>
                                                <option value="10" {% if context.update_hour == "10" %} selected {% endif %}>10</option>
                                                <option value="11" {% if context.update_hour == "11" %} selected {% endif %}>11</option>
                                                <option value="12" {% if context.update_hour == "12" %} selected {% endif %}>12</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" for="minute">Minute</label>
                                            <select class="form-control" id="minute" name="minute" required>
                                                <option value="">--</option>
                                                <option value="00" {% if context.update_minute == "00" %} selected {% endif %}>00</option>
                                                <option value="01" {% if context.update_minute == "01" %} selected {% endif %}>01</option>
                                                <option value="02" {% if context.update_minute == "02" %} selected {% endif %}>02</option>
                                                <option value="03" {% if context.update_minute == "03" %} selected {% endif %}>03</option>
                                                <option value="04" {% if context.update_minute == "04" %} selected {% endif %}>04</option>
                                                <option value="05" {% if context.update_minute == "05" %} selected {% endif %}>05</option>
                                                <option value="06" {% if context.update_minute == "06" %} selected {% endif %}>06</option>
                                                <option value="07" {% if context.update_minute == "07" %} selected {% endif %}>07</option>
                                                <option value="08" {% if context.update_minute == "08" %} selected {% endif %}>08</option>
                                                <option value="09" {% if context.update_minute == "09" %} selected {% endif %}>09</option>
                                                <option value="10" {% if context.update_minute == "10" %} selected {% endif %}>10</option>
                                                <option value="11" {% if context.update_minute == "11" %} selected {% endif %}>11</option>
                                                <option value="12" {% if context.update_minute == "12" %} selected {% endif %}>12</option>
                                                <option value="13" {% if context.update_minute == "13" %} selected {% endif %}>13</option>
                                                <option value="14" {% if context.update_minute == "14" %} selected {% endif %}>14</option>
                                                <option value="15" {% if context.update_minute == "15" %} selected {% endif %}>15</option>
                                                <option value="16" {% if context.update_minute == "16" %} selected {% endif %}>16</option>
                                                <option value="17" {% if context.update_minute == "17" %} selected {% endif %}>17</option>
                                                <option value="18" {% if context.update_minute == "18" %} selected {% endif %}>18</option>
                                                <option value="19" {% if context.update_minute == "19" %} selected {% endif %}>19</option>
                                                <option value="20" {% if context.update_minute == "20" %} selected {% endif %}>20</option>
                                                <option value="21" {% if context.update_minute == "21" %} selected {% endif %}>21</option>
                                                <option value="22" {% if context.update_minute == "22" %} selected {% endif %}>22</option>
                                                <option value="23" {% if context.update_minute == "23" %} selected {% endif %}>23</option>
                                                <option value="24" {% if context.update_minute == "24" %} selected {% endif %}>24</option>
                                                <option value="25" {% if context.update_minute == "25" %} selected {% endif %}>25</option>
                                                <option value="26" {% if context.update_minute == "26" %} selected {% endif %}>26</option>
                                                <option value="27" {% if context.update_minute == "27" %} selected {% endif %}>27</option>
                                                <option value="28" {% if context.update_minute == "28" %} selected {% endif %}>28</option>
                                                <option value="29" {% if context.update_minute == "29" %} selected {% endif %}>29</option>
                                                <option value="30" {% if context.update_minute == "30" %} selected {% endif %}>30</option>
                                                <option value="31" {% if context.update_minute == "31" %} selected {% endif %}>31</option>
                                                <option value="32" {% if context.update_minute == "32" %} selected {% endif %}>32</option>
                                                <option value="33" {% if context.update_minute == "33" %} selected {% endif %}>33</option>
                                                <option value="34" {% if context.update_minute == "34" %} selected {% endif %}>34</option>
                                                <option value="35" {% if context.update_minute == "35" %} selected {% endif %}>35</option>
                                                <option value="36" {% if context.update_minute == "36" %} selected {% endif %}>36</option>
                                                <option value="37" {% if context.update_minute == "37" %} selected {% endif %}>37</option>
                                                <option value="38" {% if context.update_minute == "38" %} selected {% endif %}>38</option>
                                                <option value="39" {% if context.update_minute == "39" %} selected {% endif %}>39</option>
                                                <option value="40" {% if context.update_minute == "40" %} selected {% endif %}>40</option>
                                                <option value="41" {% if context.update_minute == "41" %} selected {% endif %}>41</option>
                                                <option value="42" {% if context.update_minute == "42" %} selected {% endif %}>42</option>
                                                <option value="43" {% if context.update_minute == "43" %} selected {% endif %}>43</option>
                                                <option value="44" {% if context.update_minute == "44" %} selected {% endif %}>44</option>
                                                <option value="45" {% if context.update_minute == "45" %} selected {% endif %}>45</option>
                                                <option value="46" {% if context.update_minute == "46" %} selected {% endif %}>46</option>
                                                <option value="47" {% if context.update_minute == "47" %} selected {% endif %}>47</option>
                                                <option value="48" {% if context.update_minute == "48" %} selected {% endif %}>48</option>
                                                <option value="49" {% if context.update_minute == "49" %} selected {% endif %}>49</option>
                                                <option value="50" {% if context.update_minute == "50" %} selected {% endif %}>50</option>
                                                <option value="51" {% if context.update_minute == "51" %} selected {% endif %}>51</option>
                                                <option value="52" {% if context.update_minute == "52" %} selected {% endif %}>52</option>
                                                <option value="53" {% if context.update_minute == "53" %} selected {% endif %}>53</option>
                                                <option value="54" {% if context.update_minute == "54" %} selected {% endif %}>54</option>
                                                <option value="55" {% if context.update_minute == "55" %} selected {% endif %}>55</option>
                                                <option value="56" {% if context.update_minute == "56" %} selected {% endif %}>56</option>
                                                <option value="57" {% if context.update_minute == "57" %} selected {% endif %}>57</option>
                                                <option value="58" {% if context.update_minute == "58" %} selected {% endif %}>58</option>
                                                <option value="59" {% if context.update_minute == "59" %} selected {% endif %}>59</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label class="form-label" for="ampm">AM/PM</label>
                                            <select class="form-control" id="ampm" name="ampm" required>
                                                <option value="">--</option>
                                                <option value="am" {% if context.update_ampm == "am" %} selected {% endif %}>AM</option>
                                                <option value="pm" {% if context.update_ampm == "pm" %} selected {% endif %}>PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pb-3 pt-4">
                                <div class="col-sm-12 text-end">
                                    {% if context.everyday == False %}
                                        <a href="{{ url_for('cron') }}" class="btn btn-lg btn-secondary">Back</a>
                                    {% else %}
                                        <a href="{{ url_for('cron_everyday') }}" class="btn btn-lg btn-secondary">Back</a>
                                    {% endif %}
                                    <input type="submit" class="btn btn-lg btn-dark" value="Complete">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}